# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Model download files
*.partial

# YOLO videos and large files
output.avi
*.mp4
*.avi

# Local configuration
.env.local

# Environment variables
.env
.env.*

# Large files
*.pt
Videos/
Images/

# Temporary files
temp/
tmp/

# Logs
logs/
*.log 